__pycache__/
*.py[cod]
*.pyo
*.egg-info/

dist/
build/
*.exe
*.onefile-build/
*.build/
*.dist/

bili_credential.json
vr_hud_position.json

*.bat

*.log
*.tmp
*.md
*.png
*.json
*.xml

!requirements.txt
!build.spec